<div ng-include="'components/navbar/navbar.html'"></div>


<!-- Logged-out View -->

<div ng-hide="isLoggedIn()">

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>VotePlex</h1>
      <p class="lead">Create custom polls with live results.</p>
      <a id="signup" class="btn btn-success" href="/signup">Sign Up</a>
    </div>
  </header>
  
  
  <div class="container" id="frontpage-info">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<i class="fa fa-bolt"></i>
		<h3>Live Results</h3>
		<p>Live graphs show your poll results immediately in an easy to understand 
		format. One graph will not provide the whole picture, that's why we provide multiple 
		graph types to better describe your results.</p>
	  </div>
	  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<i class="fa fa-globe"></i>
		<h3>Works Everywhere</h3>
		<p>Traditional desktop computers now represent only 30% of Internet traffic. Your 
		poll must work on the tablets, smart phones, netbooks and notebooks that your 
		visitors are using. Our responsive designs do just that.</p>
	  </div>
	  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<i class="fa fa-facebook"></i>
		<h3>Social Integration</h3>
		<p>Free integrated facebook or traditional comments allow your poll voters to 
		provide immediate feedback and discuss results. Social share buttons encourage your 
		poll voters to help spread the word.</p>
	  </div>
	</div>
  </div>
  
  <footer class="footer">
    <div class="container">
      <p>FreeCodeCamp Basejump |
      <a href="http://www.freecodecamp.com/nancyj">Nancy Jiang</a>
      </p>
    </div>
  </footer>
  
</div>

<!-- Logged-in View -->

<div ng-show="isLoggedIn()">

  <div class="tabbable tabs-below">
  
	<header class="hero-unit" id="banner">
	  <div class="container">
		<h1>VotePlex</h1>
	  </div>
	</header> 
  
    <button ng-click="testFunction()">test Button</button>
  	<div id="test">testing</div>
  	
  	<div class="container">
	  <canvas id="chart" height="300" width="400"></canvas><br>
	  <h4>{{  polls.length  }} total</h4>
	  <div ng-repeat="poll in filteredPolls">
		<div class="poll-box">
		  <h3>{{  poll.question  }}</h3>
		  <p>by {{ poll.madeBy }}</p>
		  <form role="form">
			<div class="form-group" ng-repeat="(option, votes) in poll.options" id="poll-options">
			  <input type="radio" name="vote-options" value="{{ option }}">{{ option }}</input><br>
			</div>
			<input type="text" placeholder="Your own option here." id="extra-option">
			<input type="submit" class="btn btn-default" value="Add Option" 
		      ng-click="toggleExtraOption()" id="add-option"></input>
			<input type="submit" class="btn btn-success" value="Vote!" ng-click="votePoll(poll)" id="vote">
		  </form>
		</div>
	  </div>
	  <pagination 
		ng-model="currentPage"
		total-items="polls.length"
		max-size="maxSize"  
		boundary-links="true"
		items-per-page="1">
	  </pagination>
    </div>
  
</div>

